/*
Theme Name: Start-Klar
Description: Theme für Projekt Start-Klar
Version: 1.0
Author: Robert Jäckel
Author uri: mailto:robert.jaeckel@itz.uni-halle.de
Template:customizr-pro 
*/
@import url("../customizr-pro/style.css");

.caret {
  border-bottom-color: #005133 !important;
  border-top-color: #005133 !important;
}


.fpc-widget-front,
.fpc-marketing .fpc-widget-front h2
{ text-align: left; }
.fpc-widget-front > p { margin: 0; }
footer#footer {background: #eee; text-align: left; }
footer#footer a, footer#footer p { color: #111; }
footer .container { padding-left: 10px; }
code { color: #333; }
a, article a { color: #94b34c; }
a:hover, article a:hover { color: #005133; }
a.rel { font-size: 15px; padding: 15px 0px; }
a.relComments { text-align: right; color: #666; font-style: italic; display: block;}
a.relCategory { display: block; }
/*a.relCategory { border: 1px solid #94b34c; }*/
.tc-header {
    border-top: 10px solid #94b34c;
}
.navbar .btn-navbar {
  background-color: #005133;
  background-image: linear-gradient(to bottom, #94b34c, #005133);
}
.navbar .btn-navbar:focus,
.navbar .btn-navbar:hover {
   background-color: #94b34c;
}
.navbar .current-menu-ancestor a {
    color: inherit !important;
}
.tc-sidebar .current-cat>a,
.tc-sidebar .current-menu-item a {
    color: #222 !important;
}
.tc-header .current-menu-ancestor>a,
.tc-header .current-menu-item>a {
font-weight: bold;
}
.widget h3::before,
.comments-link .tc-comment-bubble, .page-links button.btn, .social-block a:hover, .tc-carousel-control:focus, .tc-carousel-control:hover, .widget.widget_archive li::before, .widget.widget_calendar li::before, .widget.widget_categories li::before, .widget.widget_links li::before, .widget.widget_meta li::before, .widget.widget_nav_menu li::before, .widget.widget_pages li::before, .widget.widget_recent_comments li::before, .widget.widget_recent_entries li::before, .widget.widget_rss li::before {
	color: #005133;
/*	left: -5px;*/
}
h3.assistive-text,
header h1,
header h2,
article h2 a,
section h2 a {
  color: #333;
}
footer#footer .colophon a.back-to-top,
.btt-arrow,
article h2 a:hover,
section h2 a:hover,
article h2 a:active,
section h2 a:active,
article h2 a:focus,
section h2 a:focus,
header .format-icon:before,
.fpc-container.fpc-marketing .fpc-widget-front h2 {
    color: #94b34c !important;
}
.archive-header {
	border-bottom: 2px solid #999;
	margin-bottom: 2em;
}
.archive-header section {
    padding-left: 1em;
}
.fpc-container .fpc-widget-front > p {
    color: #222 !important;
}

.alignleft, article h2, article h3 { clear:both; }

article a img.alignleft { border: 1px solid #94c34c; padding: 10px; }

article a[id] { position: relative; bottom: 1em; }


article .ui-tabs-nav *,
article .ui-tabs-nav {padding:0; margin: 0; text-align: right;}
article .ui-tabs-nav { display: block; }
article .ui-tabs-nav li { display: inline-block; float: left;}
article .ui-tabs-nav a { bottom:0; border: 1px solid /*#94b34c*/ #ccc; float: left; padding: .5em 1.5em; margin-right: .25em; margin-bottom: -1px; color: #94b34c; border-radius: 2px 2px 0 0;}
article .ui-tabs-panel {clear: both; border: 1px solid /*#94b34c*/ #ccc; padding: .75em 1em; border-radius: 0 2px 2px 2px; }
article .ui-tabs-active a { background: #94b34c; color: #fff;}

#footer h3.widget-title {
	color: #333;
	font-size: 16px;
	text-align: left;
}
#footer h3.widget-title:before {
	top: 2px; 
}
footer#footer a, footer#footer p { font-size: 13px; }


h1 {
    color: #94B34C;
    font-weight: 300;
    font-style: normal;
    font-family: "Open Sans" !important;
}
article h2 { font-size: 18px; }
section h2 { font-family: "Open Sans"; font-size: 24px; }
/*hr.__loop { display: none; }*/
article .tc-content { margin-bottom: 10px; }
.featurette-divider.__loop { margin: 0; }
ul.children { margin-left: 20px; }
#main-wrapper .widget li { background: none !important; border: none; }
#right.widget-area { padding: 0 5px 0 0; }
#right .widget { margin-top: 20px; padding-bottom: 20px; padding-left: 10px; border-bottom: 1px solid #EEE; }

article table, .featurette-divider, .pager li>span {
    border: none #005133;
}
.home #nav-below {
    display: none;
}
footer.mlu img {
	margin-bottom: 20px;
}
.tc-header .brand .site-title {
	text-shadow: 0px 0px 3px rgb(255, 255, 255);
}

body.archive article.checklist {
	border-top: #94b34c 2px solid;
        border-bottom: #94b34c 2px solid;

}

.tc-header .brand .site-title:before {
   background: url("logo.jpg") no-repeat ;
   background-size: contain;
   width: 1.2em; height: 1.2em;
   display: inline-block; 
   content: "";
   margin-right: .5em;
   vertical-align: bottom;
}
.tc-header .brand .site-title:hover:before {
   filter: saturate(0) brightness(120%);
}/*
.sticky-enabled .brand .site-title {
   background-position: 3.9em 0;
}*/
.mlu.container img {
   height: 9em;
}
footer.mlu { text-align: center; }
.navbar-wrapper { display: none !important ;}

#header_img,.tc-header {
	/*width: 1024px;
	width: 100%;
	height: 3em;
	/*height: ;*/
	/*height: 10em;*/
	background: /*url("startklar-header.png")*/ no-repeat center;
	background-size: cover;
}
.sticky-enabled #header_img {
	height: 3em;
}
.navbar.resp * {
	padding:0;
	margin: 0;
}


.row-fluid .span3 {
	width: auto;
	padding: 3em 0 3em 4em;
	/*padding-left: 4em;
	padding-top: 3em;*/
}
header .brand h1{
	text-shadow: 1px 1px 3px #fff;

}

/* remove link border, that came with update */
.btn:focus, a:focus {
    outline: #1ab2ff auto 5px;
    outline: none;
}


@media (max-device-width: 320px ) {
    .tc-header { background-image: url('header_320x150.jpg'); }
}
@media (min-device-width: 321px) and (max-device-width: 480px) {
    .tc-header { background-image: url('header_480x200.jpg'); }
}
@media (min-device-width: 481px) and (max-device-width: 768px) {
    .tc-header { background-image: url('header_768x250.jpg'); }
}
@media (min-device-width: 769px) and (max-device-width: 980px) {
    .tc-header { background-image: url('header_980x300.jpg'); }
}
@media (min-device-width: 781px) and (max-device-width: 1200px) {
    .tc-header { background-image: url('header_1200x350.jpg'); }
}
@media (min-device-width: 1201px) /*and (max-device-width: 1920px)*/ {
    .tc-header { background-image: url('header_1920x400.jpg'); }
}

