/* This css redefines all necessary parts of the parent theme */




body {
    background-color: #CCCCCC;


	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    -moz-font-smooth: always;
    font-smooth: always;


  
}

body, input, textarea, select, option
{

	font-family: Roboto, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #0d0d0d;
}

code
{

    font-family: Consolas,Monaco,'Lucida Console','Liberation Mono','DejaVu Sans Mono','Bitstream Vera Sans Mono','Courier New', monospace;
    background-color:#EEEEEE;
}

blockquote
{

	margin-left: 2.5em;
	margin-right: 30%;
	margin-top: 1em;
	margin-bottom: 0.8em;
/*	font-family: RobotoSlab;
	font-style: normal;*/
}

blockquote>p:first-child
{
	display: inline;
}

blockquote:before,
blockquote:after
{
	/*font-size: 210%;*/
}

blockquote:before
{
	margin-right: 0.1em;
	display: inline-block;
}


blockquote:after
{
	margin-left: 0.1em;
}

html:lang(de) blockquote:before
{
	content:'„';
}

html:lang(de) blockquote:after
{
	content:'“';
}



html:lang(en) blockquote:before
{
	content:'“';
}

html:lang(en) blockquote:after
{
	content:'”';
}


@media screen and (max-width: 800px) 
{
    body 
    {
        padding-left: 6px;
        padding-right: 6px;
    }

}





#branding,
#main,
#colophon 
{
    background-color: #FFFFFF;
}

#main {
    padding: 0;
}

#page {
 

    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    margin-bottom: 27px;
    /*  -webkit-box-shadow: 0px 0px 5px 2px  #a1a2b3;
-moz-box-shadow: 0px 0px 5px 2px  #a1a2b3;
box-shadow: 0px 0px 5px 2px  #a1a2b3;*/
}

.one-column #page {
    max-width: 1104px;
}






.one-column #page #main #content,
#access,
#header-images
 {

  margin-left: 13%;
  margin-right: 13%;
  
}

@media screen and (max-width: 800px) 
{

.one-column #page #main #content,
#main #content,
#access,
#header-images
 {

  margin-left: 6%;
  margin-right: 6%;
  
}

}




#respond {
   /* float: left;*/
}

#branding
{
    overflow: hidden;
}


#branding a.linked-image
{

   display: block;
   position: relative;
   width:100%;
   height: 8em;

}

@media screen and (max-width: 800px) 
{
    #branding a.linked-image
    {
        height: 8em;
    }
}

#branding a.linked-image #header-images
{

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url(../images/menalib-logo-2017-2018.svg), url(../images/ulb-logo-clean-seal-de.svg);
    background-position: 0% 61%, 100% 74%;
    background-size: auto 80%, auto 70%;
    background-repeat: no-repeat, no-repeat;
}


html:lang(en) #branding a.linked-image #header-images
{
    background-image: url(../images/menalib-logo-2017-2018.svg), url(../images/ulb-logo-clean-seal-en.svg);
}

@media screen and (max-width: 640px) 
{

    #branding a.linked-image #header-images
    {
          background-position: 0% 61%, 100% 87%;
        background-size: auto 80%, auto 44%;
    }
}


@media screen and (max-width: 480px) 
{

    #branding a.linked-image #header-images
    {
         
        background-size: auto 80%, auto 0%;
    }
}



#branding a.linked-image img
{
    display: none;

}

/* Headermenu */


#navigation 
{
    background-color: #E9E9E9;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.18);
	box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.18);

	margin-bottom: 10px;
	position: relative;
}

#access {
   
   


}

#access div {}

#access ul 
{
 font-size: 0.8em;
 display: flex;
 flex-wrap: wrap;
}

#access li {

  display: inline-block;
  border-style: solid;
  border-width: 0;
  
  border-right-width: 1px;
  border-color: #CCCCCC;

}
#access li:first-child
{
    border-left-width: 1px;
}

@media screen and (max-width: 640px) 
{

    #access ul 
    {
      font-size: 1.0em;   
    }
    #access li 
    {
        width: 100%;
        border-width: 0px;
        border-bottom-width: 1px;
    }

    #access li:first-child
    {
        border-left-width: 0px;
    }

    #access li:last-child
    {
        border-bottom-width: 0px;
    }

    #access a
    {
        padding-left: 2.05em;
        padding-right: 2.05em;
    }
}


#access li a 
{
  	color: #000000;
    color: rgba(0,0,0,0.8);

	font-weight: 700 !important;
	line-height: 2.3em;
	white-space: nowrap;
    
}

#access li:hover>a,
#access ul ul :hover>a,
#access a:focus,
#access li.current-menu-item a,
#access li.current-menu-parent a,
#access li.current-page-ancestor a {
    background-color: #CCCCCC;
    color: #FF0000;
}

#access li.current-menu-item a
{

}



#access .current-menu-item>a,
#access .current-menu-ancestor>a,
#access .current_page_item>a,
#access .current_page_ancestor>a 
{
 
}

#branding 
{

}




/* Suchfeld im Headermenu */

#branding #searchform {
    right: 11px;
}


/*
  Textbranding ausblenden
*/

#branding hgroup 
{

    display: none;
}



#branding .only-search #s {
    background-color: white;
    border-color: #BBB;
    color: #222;
    width: 50%;
    height: 12px;
    color: #666;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 12px;
    text-align: center;
    background: none;
}

#branding .only-search #s:focus {
    background-color: #F2F2F2;
    width: 50%;
    color: #666;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 12px;
    background: none;
}


#content
{
  padding-top: 2em;
}



/* Menüleiste links */


/* Position Menüleiste */


/*#secondary {
  margin-left: 0px;
}*/

.left-sidebar #secondary {
    margin-left: 0px;
    width: 165px;
}

.widget a {
   /* color: #666;*/
}

.widget a:hover {
    text-decoration: underline;
}

.widget {
    /*border-bottom: solid 1px #BBB;*/
    word-wrap: break-word;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


}
.widget-title {

   /* font-size: 11px;
    font-weight: bold;
    line-height: 1.75;
    text-align: right;
    */
}

.widget ul li {
    color: white;
    text-align: right;
}
.widget a {
    /*font-weight: normal;*/
}





/* Content */






#page-top-widgets {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    /*z-index: 999999;*/
}

#page-top-widgets .widget 
{
    margin: 0;
}


#page-top-widgets * {
    position: relative;
}


#qtranslate-4 {}

#page-top-widgets #qtranslate-4 ul.language-chooser li:last-child {
    margin-right: 3px;
}



#custom_html-3 
{
  z-index: 2;
}



#page-top-widgets div.under-construction {
   position: fixed;
    right: -10px;
    top: 6vh;
    background-color: #5E5E5E;
    color: #FFFFFF;
    border-radius: 50%;
    width: 11em;
    height: 11em;
    padding: 1.3em;
    line-height: 1.5;

    -webkit-box-shadow: 0px 0px 22px 10px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 0px 22px 10px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 0px 22px 10px rgba(0, 0, 0, 0.33);
    display: none;
}


.under-construction .inner 
{
    -moz-hyphens: none;

    hyphens: none;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%) rotate(11deg) translate3d(0, 0, 0.00001px);


    text-align: center;



    z-index: 33;
}








/* Beitraege */

/*
  Hervorgehoben / Featured ausblenden
*/
h3.entry-format 
{
    display: none;
}

#content {
    /*  margin: 0px 20px 0px 197px !important;
  width: 440px !important;*/
}
p {
    margin-bottom: 0px;
}

.entry-content h1,
.comment-content h1,
h1.entry-title,
h1.page-title,
h2.entry-title,
h2.page-title,

.single-tribe_events h1.tribe-events-single-event-title

{
   
    font-size: 1.6em;
    color: unset;
    width: 100%;
    font-weight: 400;
    line-height: 1.2em!important;
}



.entry-title,
.single-tribe_events h1.tribe-events-single-event-title
{

    font-family: RobotoSlab, Georgia, serif;


}


article {}


.hentry, 
.no-results 
{

  padding-bottom: 2em;
  margin-bottom: 3em;


}

.hentry:last-child, 
.no-results:last-child
{
  margin-bottom: 0em;
}


.entry-content {

    text-decoration-color: black;
    width: 100%;
}

.entry-title,
.entry-header .entry-meta {
    padding-right: 0;
}


.entry-content>p:empty {
    /*
    Empty <p>s occur when template snippets are used
  */

    display: none;
}

.entry-content,
.entry-summary {
	/*overflow: auto;*/
    padding-top: 0;
    padding-bottom: 1.2em;
}

.entry-content:after,
.entry-summary:after
{
	content:'';
	display: block;
	clear: both;
}


article.feature-image.small .entry-summary p a:hover,
.entry-header .comments-link a,
.entry-header .comments-link a:hover,
.entry-header .comments-link a:focus,
.entry-header .comments-link a:active,
.feature-slider a.active {
    background: none;
    display: none;
}


.entry-meta  {
    /*font-family: arial, helvetica, sans-serif;*/
    font-size: 0.8em;
    	
}

.entry-meta  
{

}



/*
    Formular Elemente
*/


input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea,
select 
{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) inset;
    display: block;

    padding: 0.16em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 0.3em;


    border-style: solid;
    border-width: 1px; 
    border-color: #b8b8b8;
}

input[type="submit"]:disabled
{
    opacity:0.75;
    pointer-events:none;
/*    cursor: not-allowed; */
}


form 
{
    box-sizing: content-box;
}



select, option
{
    max-width: 100%;
    width: 100%;
     overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis;
}

select
{

    text-overflow: ellipsis;
    padding: 0.4em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

}

option
{
    text-overflow: ellipsis;
    overflow: hidden;
    
}

/*

Links 

*/

a
{
    transition: color 0.1s;
    color: #6aa101;
}


a:hover,
.entry-title a:hover
{
    color: #EC1717;

}


a:active,
.entry-title a:active
{
    color: #000000;
    color:currentColor;
}


a:visited
{
    /*color: #72843F;*/

}

.entry-title a:visited
{
    color: currentColor;
}





a.button,
a.more-link, 
button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] 
{
	display: table;
	position: relative;
	/*text-transform: uppercase;*/

	font-size: 110%;
	color: #ffffff;
	white-space: nowrap;
	text-decoration: none;
	text-shadow: none;

	text-align: center;
	background-color: #6da204;


	border-left-color: rgba(255,255,255,0.5);
	border-top-color: rgba(255,255,255,0.5);

	border-bottom-color: rgba(0,0,0,0.5);
	border-right-color: rgba(0,0,0,0.5);


	border-style: solid;
	border-width: 0.055em;

	
	border-radius: 0.25em;
	box-shadow: 0em 0.0em 0.1em 0.04em rgba(0,0,0,0.9);
	padding-left: 1.3em;
	padding-right: 1.3em;
	padding-top: 0.0em;
	padding-bottom: 0.1em;
	line-height: 1.9;



	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	user-select: none;
	-webkit-appearance: none;
	-moz-appearance: none;

    transition: all 0.2s;
}

a.button:hover,
a.more-link:hover, 
button:hover, 
input[type="button"]:hover, 
input[type="reset"]:hover, 
input[type="submit"]:hover
{
	
	background-color: #94b909;

/*	border-left-color: rgba(255,255,255,0.5);
	border-top-color: rgba(255,255,255,0.5);

	border-bottom-color: rgba(0,0,0,0.5);
	border-right-color: rgba(0,0,0,0.5);*/

}


a.button:active,
a.more-link:active, 
button:active, 
input[type="button"]:active, 
input[type="reset"]:active, 
input[type="submit"]:active
{

	background-color: #53602e;

	border-left-color: rgba(0,0,0,0.2);
	border-top-color: rgba(0,0,0,0.2);

	border-bottom-color: rgba(255,255,255,0.2);
	border-right-color: rgba(255,255,255,0.2);

	box-shadow: 0em 0.0em 0.0em 0.04em rgba(0,0,0,0.7);

}


a.more-link 
{
	margin-top: 2em;
	margin-left: auto;
	padding-right: 1.4em;
}

a.more-link:after 
{
	content: '\00bb';
	transform: scale(1.2);
	display: inline-block;
	transform-origin: 100% 60%;
	transition: inherit;
}

a.more-link:hover:after 
{
	transform-origin: -50% 60%;
	
}


a.more-link .meta-nav
{
	display: none;
}



.entry-content td,
.comment-content td {
    /*padding: 6px 10px 6px 5px;*/

	padding-left: 0.8em;
    vertical-align: middle;
}

.lebouton {
    min-width: 75px;
    min-height: 75px;
    max-height: 125px;
   
    position: relative;

    background: #C2E28F;
    text-align: center;
    /*font-family: arial, helvetica, sans-serif;*/
    padding: 2px 2px 2px 2px;
    border-radius: 2px;
}

.lebouton a 
{
    text-align: center;
    text-decoration: none;
    display: block;
}

a:focus img[class*="align"],
a:hover img[class*="align"],
a:active img[class*="align"],
a:focus img[class*="wp-image-"],
a:hover img[class*="wp-image-"],
a:active img[class*="wp-image-"],
#content .gallery .gallery-icon a:focus img,
#content .gallery .gallery-icon a:hover img,
#content .gallery .gallery-icon a:active img {
   /* background: #C2E28F;*/
}



/*

IMAGES and CAPTIONS
*/


.img[class*="align"],
img[class*="wp-image-"],
#content .gallery .gallery-icon img 
{
    border: 0;
    padding: 0;
    margin-top: 0;

}


img.size-full
{
	width:100%;
	max-width: 100%;
	margin: 0;
	margin-bottom: 1.6em;
}

img.size-medium 
{
	max-width:45%;
}

img.size-thumbnail 
{
	max-width:28%;

}

.wp-caption
{
	background-color: #E2E2E2;
    padding: 0.7em;
    margin-right: 1.6em;
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 1px;
    border-radius: 0.15em;
}

.wp-caption img
{
	margin-bottom: 0.2em;

}

.wp-caption .wp-caption-text,
.gallery-item .wp-caption-text
{
	font-size: 0.8em;
	font-family: RobotoSlab, Georgia, serif;
	line-height: 1.2!important;
	color: rgba(0,0,0,0.6);
	
}

.gallery-item .wp-caption-text
{
	padding-left: 1em;
	padding-right: 1em;
}

.wp-caption .wp-caption-text:before
{
	content: '';
	color: unset;
	font-size: initial;
	font-style: normal;
	font-weight: unset;
	margin:0;
	position: unset;
	left: 0;
	top: 0;

}

.wp-caption img.size-medium,
.wp-caption img.size-thumbnail  
{

	max-width: 100%;
}

.wp-caption.alignleft,
.wp-caption.alignright
{
	max-width:45%;
	width: unset!important;
}

.wp-caption.alignleft
{
	margin-right: 1.6em;
}



.wp-caption.alignright
{
	margin-left: 1.6em;
}



img.alignleft[src$=".svg"],
img.alignright[src$=".svg"]
{
	max-width:45%;
	margin-bottom: 0;

}

img.alignleft[src$=".svg"]
{
	margin-right: 1.6em;

}


img.alignright[src$=".svg"]
{
	margin-left: 1.6em;

}






@media screen and (max-width: 650px) 
{ 
	img.size-medium 
	{
		width:100%;
		max-width:100%;
		margin-bottom: 1em;

	}

	img.size-thumbnail
	{
		width:65%;
		max-width:65%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1em;

	}

	img.alignleft[src$=".svg"],
	img.alignright[src$=".svg"]
	{
		width:100%;
		max-width:100%;
		margin-bottom: 1em;
		margin-left: auto;
		margin-right: auto;

	}


	.wp-caption.alignleft,
	.wp-caption.alignright
	{
		width:100%;
		max-width:100%;
		margin: 0;
		margin-bottom: 1em;
	}


}




/* Kommentare */
.commentlist {
    margin-left: 66px;
    width: 440px;
}
.commentlist .avatar {
    margin-left: 34px;
}
.commentlist>li.comment {
    width: 330px;
}
.commentlist p {
    max-width: 330px;
    word-wrap: break-word;
}

/***** Plugin-spezifisches CSS *****/



/* Schlagwort Cloud */
.tagcloud {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 12px;
    text-align: justify;
    margin-left: 5px;
}

/* Slideshow */
.slideshow_container .slideshow_view .slideshow_slide.slideshow_slide_image img {
    margin-top: 5px !important;
}






/* Virtueller Katalog */
.entry-content>form:nth-child(1)>table:nth-child(9) {
    width: 440px;
}
#menainput {
    width: 130px;
}
.input [type='checkbox']:checked,
.input [type='checkbox']:not(:checked) {}
input.button:nth-child(1) {
    position: relative;
    background-color: #005133;
    border: none;
    color: #FFFFFF;
    padding: 13px;
    width: 65px;
    text-align: center;
    /*font-family: arial, helvetica, sans-serif;*/
    font-size: 12px;
    -webkit-transition-duration: 0.4s;
    /* Safari */

    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 5px;
}

input.button:nth-child(2) {
    position: relative;
    background-color: #005133;
    border: none;
    color: #FFFFFF;
    padding: 13px;
    width: 65px;
    text-align: center;
    /*font-family: arial, helvetica, sans-serif;*/
    font-size: 12px;
    -webkit-transition-duration: 0.4s;
    /* Safari */

    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 5px;
}


/* Kalender-Umrechnung */
.entry-content>form:nth-child(5)>table:nth-child(1)>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(2)>p:nth-child(1)>input:nth-child(1) {
    position: relative;
    background-color: #005133;
    border: none;
    color: #FFFFFF;
    padding: 13px;
    width: 194px;
    text-align: center;
    /*font-family: arial, helvetica, sans-serif;*/
    font-size: 12px;
    -webkit-transition-duration: 0.4s;
    /* Safari */

    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 5px;
}

.entry-content>form:nth-child(5)>table:nth-child(1)>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(2)>input:nth-child(2) {
    position: relative;
    background-color: #005133;
    border: none;
    color: #FFFFFF;
    padding: 13px;
    width: 194px;
    /*font-family: arial, helvetica, sans-serif;*/
    font-size: 12px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */

    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
}




.tribe-events-calendar th {
    letter-spacing: 0px;
    font-size: 9px;
}
#tribe-events-content a {
    /*color: black;*/
}
.tribe-events-calendar div[id*="tribe-events-event-"] h3.tribe-events-month-event-title a {
    font-size: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#tribe-events-content .tribe-events-tooltip h4 {
    font-size: 10px;
}
.tribe-events-calendar .tribe-events-tooltip,
.tribe-events-week .tribe-events-tooltip,
.recurring-info-toolti {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 300px;
    padding: 0px;
}


/* Google-Map in Kontakt */
#afmenalib 
{

}

#afmenalib iframe
{
    width:100%;
}



.google-map
{
    transition: all 0.5s;
    -webkit-filter: saturate(50%); /* Safari 6.0 - 9.0 */
    filter: saturate(50%);
    padding: 1.0em;

    border-style: solid;
    border-width: 1px;
    border-radius: 0.3em;

    
    border-color: #CCCCCC; 
    background-color: #E2E2E2;
    max-height: 78vh;

}


.google-map:hover
{
    -webkit-filter: saturate(100%); /* Safari 6.0 - 9.0 */
    filter: saturate(100%);

}


/* Suche */
#branding .only-search {
    display: none;
}

#branding #searchform {
    right: 11px;
}
#branding .only-search #s {
    background-color: white;
    border-color: #BBB;
    color: #222;
    width: 50%;
    height: 12px;

    text-align: center;
    background: none;
}

#branding .only-search #s:focus {
    background-color: #F2F2F2;
    width: 50%;

    background: none;
}

/* Anpassungen für das Theme 
.single #author-info {
    background: #f9f9f9;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 2.2em 0% 0 0%;
    padding: 20px 35.4%;
}
#respond {
width: auto;
}
.commentlist {
width: auto;
}
.commentlist > li.comment {
margin: 0px 0px 20px 102px;
width: auto;
}*/
.gallery {
    clear: both;
}

.gallery-caption {}

.page-header,
.entry-header
{
	padding-bottom: 2.5em;
    padding-top: 1.5em;
}


header.page-header .category-archive-meta 
{
    display: none;
}




#global-footer 
{
    display: none;
}

p.nopassword 
{
    display: none;
}