/* begin Page */

/* Created by Artisteer v3.0.0.32906 */

#art-page-background-glare-image
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/page_gl.png',sizingMethod='crop')");
  zoom: 1;
}




img
{
  filter: expression(artFixPNG(this));
}

/* end Page */

/* begin Box, Sheet */
.art-sheet, .art-sheet-body
{
  zoom: 1;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl, .art-sheet-tc, .art-sheet-bc,.art-sheet-cr, .art-sheet-cl
{
  font-size: 1px;
  background: none;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl
{
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_s.png',sizingMethod='scale')");
}

.art-sheet-tl
{
  clip: rect(auto 18px 18px auto);
}

.art-sheet-tr
{
  left:expression(this.parentNode.offsetWidth-36+'px');
  clip: rect(auto auto 18px 18px);
}

.art-sheet-bl
{
  top: expression(this.parentNode.offsetHeight-36+'px');
  clip: rect(18px 18px auto auto);
}

.art-sheet-br
{
  top: expression(this.parentNode.offsetHeight-36+'px');
  left:expression(this.parentNode.offsetWidth-36+'px');
  clip: rect(18px auto auto 18px);
}

.art-sheet-tc, .art-sheet-bc
{
  width: expression(this.parentNode.offsetWidth-36+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_h.png',sizingMethod='scale')");
}

.art-sheet-tc
{
  clip: rect(auto auto 18px auto);
}

.art-sheet-bc
{
  top: expression(this.parentNode.offsetHeight-36+'px');
  clip: rect(18px auto auto auto);
}

.art-sheet-cr, .art-sheet-cl
{
  height: expression(this.parentNode.offsetHeight-36+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_v.png',sizingMethod='scale')");
}

.art-sheet-cr
{
  left:expression(this.parentNode.offsetWidth-36+'px');
  clip: rect(auto auto auto 18px);
}

.art-sheet-cl
{
  clip: rect(auto 18px auto auto);
}

.art-sheet-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-36+'px');
  height: expression(this.parentNode.offsetHeight-36+'px');
  background-color: #FFFFFF;
}
/* end Box, Sheet */

/* begin Menu */
.art-menu ul
{
  width: 1px;
}

.art-menu li.art-menuhover
{
  z-index: 10000;
}

.art-menu .art-menuhoverUL
{
  visibility: visible;
}

.art-menu .art-menuhoverUL
{
  top: 100%;
  left: 0;
}

.art-menu .art-menuhoverUL .art-menuhoverUL
{
  top: 0;
  left: 100%;
}


.art-menu .art-menuhoverUL .art-menuhoverUL
{
  top: 5px;
  left: 100%;
}


.art-menu, .art-menu ul, .art-menu ul a
{
  height: 1%;
}

.art-menu li.art-menuhover
{
  z-index: 10000;
}

.art-menu .art-menuhoverUL
{
  visibility: visible;
}

.art-menu .art-menuhoverUL
{
  top: 100%;
  left: 0;
}

.art-menu .art-menuhoverUL .art-menuhoverUL
{
  top: 0;
  left: 100%;
}


.art-menu li li
{
  float: left;
  width: 100%;
}

.art-nav
{
  zoom: 1;
  height: 32px;
}

.art-nav .l, .art-nav .r
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/nav.png',sizingMethod='crop')");
}

.art-nav .l
{
  width: expression(this.parentNode.offsetWidth-5+'px');
}

.art-nav .r
{
  left: expression(this.parentNode.offsetWidth-792+'px');
  clip: rect(auto auto auto 787px);
}

/* end Menu */

/* begin MenuItem */
.art-menu a
{
  float: left;
}

.art-menu a:hover
{
  visibility: visible;
}

.art-menu a .r, .art-menu a .l
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/menuitem.png',sizingMethod='crop')");
}

.art-menu a .r
{
  left:100%;
  margin-left:-408px;
  clip: rect(auto auto auto 404px);
}

.art-menu a .l
{
  width: expression(this.parentNode.offsetWidth-4+'px');
}

.art-menuhover .art-menuhoverA .t
{
  color: #7F5305;
}

.art-menuhover .art-menuhoverA .l, .art-menuhover .art-menuhoverA .r
{
  top: -32px;
}
/* end MenuItem */

/* begin MenuSeparator */
.art-nav .art-menu-separator
{
  font-size: 1px;
  zoom: 1;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/menuseparator.png',sizingMethod='crop')");
}

/* end MenuSeparator */

/* begin MenuSubItem */
.art-menu ul a
{
  color: #296875 !important;
}

.art-menu ul a:hover {
  color: #1C474F !important;
}	

.art-menu ul .art-menuhover .art-menuhoverA
{
  color: #1C474F !important;
  background-position: 0 -26px;
}

.art-nav .art-menu ul a:hover span, .art-nav .art-menu ul a:hover span span
{
  color: #1C474F !important;
}	

.art-nav .art-menu ul .art-menuhover .art-menuhoverA span, .art-nav .art-menu ul .art-menuhover .art-menuhoverA span span
{
  color: #1C474F !important;
}

/* end MenuSubItem */

/* begin Layout */
.art-content-layout, .art-content-layout-row {display: block;}
.art-content-layout, .art-content-layout-row {zoom: 1;}
/* end Layout */

/* begin Box, Block */
.art-block, .art-block-body
{
  zoom: 1;
}
/* end Box, Block */

/* begin Box, BlockContent */
.art-blockcontent, .art-blockcontent-body
{
  zoom: 1;
}
.art-blockcontent-body ul li
{
  height: 1%;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/blockcontentbullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper, .art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
  zoom: 1;
}

.art-button-wrapper .art-button
{
  float: left;
}

.art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/button.png',sizingMethod='crop')");
}

.art-button-wrapper .art-button-r
{
  left:expression(this.parentNode.offsetWidth-409+'px');
  clip: rect(auto auto auto 399px);
}

.art-button-wrapper .art-button-l
{
  width: expression(this.parentNode.offsetWidth-10+'px');
}
/* end Button */

/* begin Box, Post */
.art-post, .art-post-body
{
  zoom: 1;
}
/* end Box, Post */

/* begin PostQuote */
.art-postcontent blockquote
{
  height: 1%;
  background-image: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/postquote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin Footer */
.art-footer, .art-footer-body
{
  zoom:1;
}






/* end Footer */

/* begin LayoutCell, content */

.art-content {width: auto;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell
{
  display: block;
  position:relative;
  float: left;
  clear: right;
}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell {zoom:1;}

.art-content-layout .art-content .art-block
{
  background-color: #FFFFFF;
}
/* end LayoutCell, content */



.commentlist, .commentlist li
{
  behavior: none;
}
