/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on very large screens.

******************************************************************/

$footerheight:  7em;
.footer {
    height: $footerheight;
}