/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

/* Use this variable to set the general width of the content (and also the inner header, footer and breadcrumb box) */

$contentwidth: 80%;

.maincontainer {
    width: $contentwidth;
    margin: 0 auto;
}

body {
	font-family: $opensans;
	font-size: 90%;
	line-height: 1.25;
	color: $text-color;
	background-color: $site-bgrd;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}


/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 400;
    font-family: $bree;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2em;
	line-height: 1.333em;

}

h2, .h2 {
	font-size: 1.5em;
	line-height: 1.3em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
SITE HEADER STYLES
*********************/

$headerheight: 4em;

.header {
	background-color: $gkuh;
    height: $headerheight;
    //margin: 0 auto;
}

#inner-header {
    @include flexbox();
    justify-content: space-between;
    flex-wrap: nowrap;
    height: $headerheight;
}

.logolink {
    height: 80%;
    margin: 0.4em 0.4em 0.4em 0;
    @include flex(1 0 auto);
    width: $headerheight * 0.8;
    align-self: center;
    
    .logo {
    height: 100%; }
    
	}
	

/*********************
NAVIGATION STYLES
*********************/


/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

/* special media query for super small devices so menu does not break */
@media only screen and (max-width: 329px) {
    .nav ul li { padding: 0 0.4em; } 
    .logolink { height: 60%; }
}


.navcontainer {
    @include flex(4 1 auto);
    height: $headerheight;
    
    nav {
    height: 100%;
    }
}

/* only top level menu entries. line-height property centers vertically */
.top-nav > li {
    height: $headerheight;
    display: inline;
    line-height: $headerheight;    
    border-right: 1px solid $navactive;
    
    &:first-child {
            /* don't show "start" menu entry and hope people will know to klick/tap the logo but we don't have enough room */
            display: none;
        }
    
    &:last-child {
            /* no border for menu item on the right */
            border-right: 0 solid $navactive;
        }
}

.nav {
    
    ul {
		margin:0;
        text-align: right;
        letter-spacing: -1em; /* fix for inline-block gap */
	}
    
	li {
        display: inline-block;
        position: relative;
        background-color:$mainnav;
        padding: 0 0.75em;
        /* set to normal after gap fix in parent ul */
        letter-spacing:normal;
        
		a {
            font-size: 0.9em;
			color: $navtext;
			text-decoration: none;
            height: 100%;
            margin: 0;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
            
		} /* end of ul li a */

		&:first-child {
        }
        
		&:last-child {
            /* no border for menu item on the right */
            border-left: 0px solid $navactive;
            margin-right: -0.75em;
        }

		ul.sub-menu,
		ul.children {
			border-top: 0;
			position: absolute;
			visibility: hidden;
            z-index: 8999;
            top: $headerheight;
            left: 0;
            text-align: left;

			li {
                padding: 1em 0.5em;
                line-height: 1em;
                border-bottom: 1px solid #fff;
                display: block;
                width: 100%;
				a {
					border-right: 0;
					display: block;
                    color: $navtext;
					&:hover,
					&:focus {}

					&:link {}

				}
                
                a:before {
                    content: "";
                    height: 2em;
                    left: -0.33em;
                    position: absolute;
                    top: -1.1em;
                    width: 5px;
                    
                }

				&:first-child {}

				&:last-child {}

			}
            
           li.current-menu-item,
	       li.current_page_item,
	       li.current_page_ancestor {
                background-color: $black;
               border-left: 0px solid $navactive;
        

		a {
            color: $navtextactive;
        }
               }  /* end current highlighters for submenue */
            
            /* IMPORTANT for mobile nav function: shows or hides the submenu when clicked/tapped */
            &.toggled {
            visibility: visible;
            }

		} /* end ul.sub-menu and ul.children */
        
        /* For hover-able devices: showing sub-menus */
		&:hover > ul {
			visibility:visible;
		}
        
	} /* end .menu li */
        
 /* end .menu ul */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
        background-color: $navactive;
        border: 0px solid $border-color;
        

		a {
            color: $navtextactive;
        }

	}  /* end current highlighters */

} /* end .nav */

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 1em;
}

		.hentry {
			background-color: $white;
			border-radius: 3px;
			margin-bottom: 1.5em;
			border: 1px solid $border-color;

			header {
				border-bottom: 1px solid $light-gray;
				padding: 0; 
			}

			footer {
				padding: 1.5em;
				border-top: 1px solid $light-gray;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			padding: 0;

			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}


/***************
List of Child Pages on First Page of a Section (See page.php for php code and list class name
****************/

/* Styling from http://red-team-design.com/css3-ordered-list-styles */

.themenuebersicht {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font-size: 1.2em;
    font-family: $bree, $sans-serif;
    padding: 0 0 0 1.15em;
    
    li {
    
    a {
        position: relative;
        display: block;
        padding: .4em .4em .4em 1.5em;
        *padding: .4em;
        margin: .5em 0;
        text-decoration: none;
        color: $text-color;
        line-height: normal;
        

} /* end of ol li a */
        
    a:before{
        content: counter(li);
        counter-increment: li;
        position: absolute; 
        left: -1.3em;
        top: 50%;
        margin-top: -1em;
        background: $site-bgrd;
        height: 1.5em;
        width: 1.5em;
        text-align: center;
        font-weight: bold;
        border-radius: 2em;
        border: .4em solid $section2;
        z-index: 2;
        
} /* end of ol li a:before */
        
        a:hover:before{
            //border: 1px solid;
}
      
    a:after {
        content: "";
        height: 2em;
        left: -0.33em;
        position: absolute;
        top: -1.1em;
        width: 5px;    
        
} /* end of ol li a:after */

        
} /* end of ol li */
    
} /* end of ol */



/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

$footerheight:  4em;

/* hide MLU blogfarm footer */
#global-footer {
    display: none;
}

/* hide breadcrumbs on small devices */
.breadcrumbs {
    display: none;
}

/********* just change those valuey for the containers. the other elements are being calculated automatically *********/

$centerwidth: 40%;

.footer {
	clear: both;
    display: block;
    position:fixed ;
    vertical-align: middle;
    background-color: $dark-gray;
    bottom: 0;
    height: $footerheight;
    width: 100%;
    line-height: normal;
    background-color: $dark-gray;
    z-index: 99999;
    
    a {
        color: $gray;
        text-decoration: none;
        font-weight: bold;
    }
}

#inner-footer {
    background-color: $dark-gray;
    height: 100%;
}

.fnavcontainer {
    @include flexbox();
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* centered box with nav buttons and progress circle as a flexbox */
.fnavcenter {
    @include flex(1 0 $centerwidth);
    @include flexbox();
    display: flex;
    -webkit-flex: 1 0 $centerwidth;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: $footerheight;
    //border: 1px solid #000;
    width: $centerwidth;
    text-align: center;
}

.prevname, .nextname {
    @include flex(2 2 auto);
    width: (100% - $centerwidth) / 2;
    //border: 1px solid red;
    align-self: center;
    font-size: 0.9em;
}

.prevname {
    text-align: right;
}

.nextname {
    text-align: left;
}

$centerelement: 30%;

.statuscow {
    @include flex(1 1 $centerelement);
    width: $centerelement * 1.1;
    align-self: center;
    //width: 5%;
    //background-color: $gkuh;
    //display: inline;
    //min-width: $footerheight / 1.5;
    //min-height: $footerheight / 1.5;
    //max-height: $footerheight / 2.5;
    
}

/* Positioning of prev/next triangle svg  */
.tricontainer {
    //border: 1px solid green;
    //width: $footerheight / 1.5;
    //min-height: $footerheight / 1.5;
    //max-height: $footerheight / 2.5;
    @include flex(1 1 $centerelement);
    align-self: center;
    width: $centerelement;
    //margin: 0 auto;
    //display: inline-block;
}

.prevbtn, .nextbtn {
    //border: 1px solid #fff;
    //width: 90%;
    //display: block;
}

.svgbutton {
    fill:$navbutton;
}


	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}

/* needs to be down here because needs to be declared after footerheight variable. this makes sure that the content always stays above the footer */
#main {
padding-bottom: $footerheight;
}
