.faq_wrap_all h3 {
    background: none repeat scroll 0 0 #557700;
    border: 1px solid #557700;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.smart_all_accordion ul li a:hover{
    background: none repeat scroll 0 0 #e74c3c;
}

.ui-accordion-content-active{
    border: 1px solid #557700 !important;
}
