.header {



	.header__brand {
		display: block;
		margin: $margin;
		margin-left: auto;
		margin-right: auto;
	}



	.header__homelink {
		display: block;
		margin: $margin;
		margin-top: 0;
		text-align: center;
	}



}
