/*
	Red color scheme for Catch Box
*/

/* =Global
----------------------------------------------- */

body {
	background-color: #ba3027;
}
#access ul.menu li,
#access-secondary ul.menu li {
    border-left: 1px solid #89251e;
}
#access,
#access-footer,
#access ul.menu ul a {
	background: #89251e; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#ba3027, #89251e);
	background: -o-linear-gradient(#ba3027, #89251e);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ba3027), to(#89251e)); /* older webkit syntax */
	background: -webkit-linear-gradient(#ba3027, #89251e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ba3027', endColorstr='#89251e'); /* for IE */
}
#access ul.menu ul a {
	color: #fff;
}
#access ul.menu li:hover > a,
#access ul.menu a:focus,
#access-secondary ul.menu li:hover > a,
#access-secondary ul.menu a:focus,
#access-footer ul.menu a:hover,
#access-footer ul.menu a:focus {
	background: #ba3027; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#89251e, #ba3027);
	background: -o-linear-gradient(#89251e, #ba3027);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#89251e), to(#ba3027)); /* Older webkit syntax */
	background: -webkit-linear-gradient(#89251e, #ba3027);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89251e', endColorstr='#ba3027'); /* for IE */
	color: #fff;
}
#access-secondary {
    background-color: #ac2d24;
}
#access-footer ul.menu li {
    border-left: 1px solid #89251e;	
}
#access-secondary ul.menu a {
	color: #fff;
    line-height: 2.6em;
}
#access,
#access-footer {
	border-bottom: 1px solid #89251e;
	margin-bottom: 0;
}
#content #infinite-handle span button {
	background-color: #ba3027;
}
#content #infinite-handle span button:hover,
#content #infinite-handle span button:focus {
	background-color: #89251e;
}
#site-generator {
	border-color: #89251e;
}

/* Mobile Menu */
.menu-access-wrap,
.sidr {
    background-color: #ba3027;
}
.sidr ul,
.sidr ul li {
	border-color: #89251e;
}
.sidr ul li a, 
.sidr ul li span {
    color: #eee;
}
.sidr ul li a:hover {
	background-color: #89251e;
	color: #fff;
}