/**
 * The 16-column Deco Grid System. 
 * Available in multiple variants, see http://deco.gs
 *
 * Content is         1200px
 * Cells are          7,75% (=93px)
 * Column margins are 4.75% (=57px)
 * Total is           12.5%. (=150px) (which makes 8 columns)
 * 
 * If page width is fixed to 1200px width:
 * Cell will be equivalent to 93px, left/right margin will be 57px.
 */
 
.row {
	float: left;
	width: 100%;
	display: block;
	position: relative;
}
.cell {
  position: relative;
  float: left;
  left: 100%;
}

/* Width classes. 
   For a given cell width, the calculation is: 
   width = (total cell width) * n - (column margins) 
   In this case: (6.25*n - 2,380952381%)% */
.width-1  { width: 7.750000000000000% }
.width-2  { width: 20.250000000000000% }
.width-3  { width: 32.750000000000000% }
.width-4  { width: 45.250000000000000% }
.width-5  { width: 57.750000000000000% }
.width-6  { width: 70.250000000000000% }
.width-7  { width: 82.750000000000000% }
.width-8  { width: 95.250000000000000% }


/* Positioning classes, these are subtracting from a rightmost 
   position, which is why they seem the wrong way around */
/* For a given position, the calculation is:
   -100 + (total cell width * n)
   In this case: margin-left: -100 + (6.25*n) */
.position-0  { margin-left: -97.625000000000000% }
.position-1  { margin-left: -85.125000000000000% }
.position-2  { margin-left: -72.625000000000000% }
.position-3  { margin-left: -60.125000000000000% }
.position-4  { margin-left: -47.625000000000000% }
.position-5  { margin-left: -35.125000000000000% }
.position-6  { margin-left: -22.625000000000000% }
.position-7  { margin-left: -10.125000000000000% }



/* End of the core Deco Grid System */

/* Make sure the page never exceeds 992px, but scales down */
body { 
  max-width: em(1200); 
  margin: 0 auto;
} 
