#rss-link {
	background-image: url(images/rtl/ico-rss.png);
}
#sidebar h4 {
	background-image: url(images/rtl/widgettitle.jpg);
	background-position:15px 0;
}
#sidebar ul ul li {
	background-image: url(images/rtl/sidebar-list-arr.gif);
}
#sidebar #searchform .field-place {
	background-image: url(images/rtl/searchform-field.gif);
}
#respond #submit {
	background-image: url(images/rtl/button.gif);
}
#main:before,
#main-middle:before {
	background: -moz-linear-gradient(left,  rgba(131,132,132,0) 0%, rgba(131,132,132,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(131,132,132,0)), color-stop(100%,rgba(131,132,132,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(131,132,132,0) 0%,rgba(131,132,132,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(131,132,132,0) 0%,rgba(131,132,132,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(131,132,132,0) 0%,rgba(131,132,132,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(131,132,132,0) 0%,rgba(131,132,132,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00838484', endColorstr='#838484',GradientType=1 ); /* IE6-9 */
}

/* --- Responsive styles --- */
@media only screen and (max-width: 1024px) {
    /* =Sidebar
	-------------------------------------------------------------- */

    #sidebar { background-image: url(images/rtl/sidebar-bg.png); }
}