body {
	background: #3A2820;
}
#logo a {
	color: #fff;
}
#header .description {
	color: #848282;
}
#main {
	background: #642617; 
}
#main-top {
	border-color: #af5b3f;
}
#main-middle {
	background-color: #2d2018; 
}
#main-bot {
	border-color: #7e5b3d;
}
#main:before,
#main-middle:before {
	height: 1px;
	width: 50px; 
	background: -moz-linear-gradient(left,  rgba(227,145,98,1) 0%, rgba(227,145,98,1) 1%, rgba(227,145,98,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(227,145,98,1)), color-stop(1%,rgba(227,145,98,1)), color-stop(100%,rgba(227,145,98,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(227,145,98,1) 0%,rgba(227,145,98,1) 1%,rgba(227,145,98,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(227,145,98,1) 0%,rgba(227,145,98,1) 1%,rgba(227,145,98,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(227,145,98,1) 0%,rgba(227,145,98,1) 1%,rgba(227,145,98,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(227,145,98,1) 0%,rgba(227,145,98,1) 1%,rgba(227,145,98,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e39162', endColorstr='#00e39162',GradientType=1 ); /* IE6-9 */
}
#main:after,
#main-middle:after {
	height: 50px;
	width: 1px; 
	background: -moz-linear-gradient(top,  rgba(227,145,98,1) 0%, rgba(227,145,98,1) 1%, rgba(227,145,98,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,145,98,1)), color-stop(1%,rgba(227,145,98,1)), color-stop(100%,rgba(227,145,98,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(227,145,98,1) 0%,rgba(227,145,98,1) 1%,rgba(227,145,98,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(227,145,98,1) 0%,rgba(227,145,98,1) 1%,rgba(227,145,98,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(227,145,98,1) 0%,rgba(227,145,98,1) 1%,rgba(227,145,98,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(227,145,98,1) 0%,rgba(227,145,98,1) 1%,rgba(227,145,98,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e39162', endColorstr='#00e39162',GradientType=0 ); /* IE6-9 */
}
#rss-link {
	background-image: url(images/ico-rss.png);
}
#sidebar h4 {
	background-image: url(images/widgettitle.jpg);
	color: #fff;
	text-shadow: #222 0px 1px 1px;
}
#sidebar h4 a {
	color: #fff;
}
#sidebar ul ul li {
	background-image: url(images/sidebar-list-arr.gif);
	border-bottom-color: #271913;
	border-top-color: #453322;
}
#sidebar #searchform label {
	color: #ebab00;
}
#sidebar #searchform .field-place {
	background-image: url(images/searchform-field.gif);
}
#sidebar #searchform .field-place .field {
	color: #ffe6a8;
}
#respond #submit {
	background-image: url(images/button.gif);
}
.menu > li.selected,
.menu > li.current_page_parent,
.menu > li.current_page_item,
.menu > li.current_page_ancestor,
.menu > li.current-menu-parent,
.menu > li.current-menu-item,
.menu > li.current-menu-ancestor {
	background-color: #c4a158;
}

/* --- Responsive styles --- */
@media only screen and (max-width: 1024px) {
	/* =Sidebar
	-------------------------------------------------------------- */

    #sidebar { background: url(images/sidebar-bg.png) repeat-y 0 0; }
    #sidebar:before,
    #sidebar:after {
		background: -moz-linear-gradient(top,  rgba(227,145,98,1) 0%, rgba(227,145,98,1) 1%, rgba(227,145,98,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,145,98,1)), color-stop(1%,rgba(227,145,98,1)), color-stop(100%,rgba(227,145,98,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(227,145,98,1) 0%,rgba(227,145,98,1) 1%,rgba(227,145,98,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(227,145,98,1) 0%,rgba(227,145,98,1) 1%,rgba(227,145,98,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(227,145,98,1) 0%,rgba(227,145,98,1) 1%,rgba(227,145,98,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(227,145,98,1) 0%,rgba(227,145,98,1) 1%,rgba(227,145,98,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e39162', endColorstr='#00e39162',GradientType=0 ); /* IE6-9 */
	}

	#sidebar .sidebar-nav > ul > .selected > a,
	#sidebar .sidebar-nav > ul > .current_page_parent > a,
	#sidebar .sidebar-nav > ul > .current_page_item > a,
	#sidebar .sidebar-nav > ul > .current_page_ancestor > a,
	#sidebar .sidebar-nav > ul > .current-menu-parent > a,
	#sidebar .sidebar-nav > ul > .current-menu-item > a,
	#sidebar .sidebar-nav > ul > .current-menu-ancestor > a {
		background-color: #c4a158;
		border-radius: 4px; 
	}

	#sidebar .sidebar-nav ul ul li.current-menu-item > a,
	#sidebar .sidebar-nav ul ul li > a:hover {
		color: #c4a158; 
	}
}