/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/*********************
COLORS
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #323944;
$white:             #ffffff;

$light-gray:        #d8d8d8; /* 15% black, top nav bgrd */ 
$gray:              #7f7f7f; /* 50% black, footer nav buttons*/
$dark-gray:         #323232; 
$text-color:        $dark-gray;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;

$green:             #7dd667;

$bones-pink:        #f01d4f;
$blue:              #2980b9;

$gkuh:              #008d9a;
$mainnav:           $light-gray; /* background color of menu items */
$navactive:         $black; /* background color of active menu items */
$navtext:           $dark-gray; /* text color of non-active menu items */
$navtextactive:     $light-gray; /* text color of active menu items */
$site-bgrd:         $white;
$navbutton:         $gray;

$link-color:        $gkuh;
$link-hover:        darken($link-color, 9%);
$breadcrumb:        $dark-gray;

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;


/*********************
Layout Variables
*********************/

/* Use this variable to set the general width of the content (and also the inner header, footer and breadcrumb box) */
$contentwidthvalue: 90;
$contentwidth: $contentwidthvalue *1%;

$headerheightvalue: 4;
$headerheight: $headerheightvalue * 1em;

$footerheightvalue:  60;
$footerheight:  $footerheightvalue * 1px;

/* this is the width of the container for the navigation elements (arrows and circle) in the footer */
$centerwidthvalue: 150;
$centerwidth: $centerwidthvalue * 1px;

/* this is the width of the circle */
$centerelementvalue: 30;
$centerelement: $centerelementvalue * 1%;
$tributtonwidth: ((100 - $centerelementvalue) / 2) * 1%;
