@font-face {
  font-family: 'TitilliumText25L';
  src: url('../assets/fonts/TitilliumText25L-400wt.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/TitilliumText25L-400wt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/TitilliumText25L-400wt.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/TitilliumText25L-400wt.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/TitilliumText25L-400wt.svg#163dd7b9ed7173905418531644873667') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'TitilliumText25L';
  src: url('../assets/fonts/TitilliumText25L-600wt.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/TitilliumText25L-600wt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/TitilliumText25L-600wt.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/TitilliumText25L-600wt.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/TitilliumText25L-600wt.svg#00302c0c857a103b0f8df4702e46336d') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  600;
}



@font-face {
  font-family: 'TitilliumText25L';
  src: url('../assets/fonts/TitilliumText25L-800wt.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/TitilliumText25L-800wt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/TitilliumText25L-800wt.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/TitilliumText25L-800wt.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/TitilliumText25L-800wt.svg#163dd7b9ed7173905418531644873667') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  800;
}
